@import url("https://fonts.googleapis.com/css2?family=Kufam&display=swap");
* {
  transition: 0.3s;
}
body,
html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #1f5dcc;
}

.name_bot {
  display: flex;
  position: relative;
  top: 10px;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  background-color: #616161;
  border: solid white 3px;
  font-family: "Kufam", sans-serif;
  color: white;
  font-size: 200%;
  border-radius: 25px;
  width: 50%;
}
.bloc_image_bot {
  display: none;
  background-image: url(./img/duck.png);
  background-size: 82%;
  background-position: center;
  background-repeat: no-repeat;
  border: solid 7px;
  border-radius: 10%;
  width: 90%;
  height: 50%;
}
.button_radial_bloc {
  display: none;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 25%;
}
.button_right_radial,
.button_left_radial {
  background: radial-gradient(
    #87590f,
    #87590f 22%,
    rgba(238, 238, 238, 0) 75%,
    #333 75%
  );
  border-radius: 100%;
  border: solid #87590f81 3px;
  width: 18vmax;
  height: 18vmax;
}
.camera {
  display: none;
  background-color: rgba(0, 0, 0, 0.265);
  border: solid;
  border-radius: 35px;
  width: 26vmax;
  height: 18vmax;
  margin-bottom: 5%;
}
.bloc_button {
  display: none;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  padding: 5%;
}

.bloc_button_left,
.bloc_button_right {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.button_shot,
.button_auto,
.button_sound,
.button_taunt {
  background-color: rgb(150, 150, 150);
  width: 10vmax;
  height: 10vmax;
}

.button_shot:hover,
.button_auto:hover,
.button_sound:hover,
.button_taunt:hover {
  background-color: rgb(255, 255, 255);
}

.button_shot {
  background-image: url(./img/SVG/shoot.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 40px;
  border: solid 3px;
}
.button_auto {
  background-image: url(./img/SVG/automatic.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 40px;
  border: solid 3px;
}
.button_sound {
  background-image: url(./img/SVG/sound.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 40px;
  border: solid 3px;
}
.button_taunt {
  background-image: url(./img/SVG/taunt.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 40px;
  border: solid 3px;
}
.bot {
  width: 100vmin;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.bot_img {
  width: 50%;
  height: 50%;
}
.life_bar_bg,
.ammo_bar_bg,
.energy_bar_bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 10%;
}

.life_bar,
.ammo_bar,
.energy_bar {
  display: flex; /*none en petit*/
  align-items: center;
  justify-content: flex-start;
  width: 95%;
  height: 50%;
  border: solid 5px;
  border-radius: 20px;
}
.life_bar {
  background-color: #1f5dcc;
}
.ammo_bar {
  background-color: #ad7214;
}
.energy_bar {
  background-color: #9c2601;
}
.ammo_bar_cube1,
.ammo_bar_cube2,
.ammo_bar_cube3,
.ammo_bar_cube4,
.ammo_bar_cube5,
.energy_bar_cube1,
.energy_bar_cube2,
.energy_bar_cube3,
.energy_bar_cube4,
.energy_bar_cube5,
.life_bar_cube1,
.life_bar_cube2,
.life_bar_cube3,
.life_bar_cube4,
.life_bar_cube5 {
  display: none;
  background-color: rgba(255, 255, 255, 0.999);
  width: 20%;
  height: 100%;
  margin: 2%;
}
@media screen and (max-height: 400px) {
  body,
  html {
    background-color: rgba(255, 255, 255, 0);
  }

  .name_bot {
    display: none;
  }

  .life_bar,
  .ammo_bar,
  .energy_bar {
    border: none;
    width: 95%;
    height: 70%;
  }
  .life_bar_bg,
  .ammo_bar_bg,
  .energy_bar_bg {
    position: relative;
    bottom: 30%;
    left: 30%;
    justify-content: center;
    align-items: flex-end;
    width: 15%;
    height: 30%;
  }
  .bot_img {
    position: relative;
    top: 25%;
  }
}

@media screen and (min-height: 640px) {
  .bot_img {
    display: none;
  }
  body {
  }
  .bot {
    justify-content: flex-end;
    height: 180px;
    margin-bottom: 10px;
  }

  .button_shot,
  .button_auto,
  .button_sound,
  .button_taunt {
    background-color: rgb(150, 150, 150);
    width: 8vmax;
    height: 8vmax;
  }
  .life_bar_bg,
  .ammo_bar_bg,
  .energy_bar_bg {
    height: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .life_bar_cube1,
  .life_bar_cube2,
  .life_bar_cube3,
  .life_bar_cube4,
  .life_bar_cube5,
  .ammo_bar_cube1,
  .ammo_bar_cube2,
  .ammo_bar_cube3,
  .ammo_bar_cube4,
  .ammo_bar_cube5,
  .energy_bar_cube1,
  .energy_bar_cube2,
  .energy_bar_cube3,
  .energy_bar_cube4,
  .energy_bar_cube5 {
    display: flex;
    height: 60%;
    margin: 1%;
  }
  .life_bar,
  .ammo_bar,
  .energy_bar {
    display: flex;
    align-items: center;
    border-color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    height: 100%;
  }
  .bloc_button {
    display: flex;
    padding: 2%;
  }
  .button_radial_bloc {
    display: flex;
  }
  .bloc_image_bot {
    display: flex;
  }
}

@media screen and (min-height: 1024px) {
  body,
  html {
    justify-content: flex-start;
  }
  .name_bot {
    display: none;
  }
  .bloc_image_bot {
    margin-top: 5%;
    width: 50%;
    height: 35%;
  }
  .button_radial_bloc {
    padding-top: 7%;
  }
  .button_left_radial,
  .button_right_radial {
    height: 30vmax;
    width: 30vmax;
  }
  .bloc_button {
    position: absolute;
    top: 8%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 23%;
  }
  .bloc_button_left {
    width: 100%;
    justify-content: space-between;
  }
  .bloc_button_right {
    width: 100%;
    justify-content: space-between;
  }
  .button_shot,
  .button_auto,
  .button_sound,
  .button_taunt {
    width: 8vmax;
    height: 8vmax;
    background-size: 80%;
  }
  .button_sound {
    background-size: 50%;
  }
  .button_shot {
    background-size: 60%;
  }

  .bot {
    background-color: rebeccapurple;
    width: 90%;
    height: 5%;
    flex-direction: row;
  }
  .camera {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
}
