body,html {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.life {
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.476);
  height: 2%;
  border-radius: 20px;
}
.life_bar {
  background-color: rgba(72, 255, 0, 0.476);


}
.ammo {

}
.ammo_bar {
  background-color: rgba(72, 255, 0, 0.476);
}
.battery{

}
.battery_bar{
  
}
.bot1 {
  rotate: 0deg;
  width: 30vmin;
  width: 30vmin;
}
