body,html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #1F5DCC;
}
.left_up {
  background-color: crimson;
  width: 20px;
  height: 20px;
}

.button_radial_bloc {
  display: none;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  height: 25%;
}
.button_right_radial,.button_left_radial {
  background: radial-gradient( #87590F, #87590F 22%, rgba(238, 238, 238, 0) 75%, #333 75%);
  border-radius: 100%;
  border: solid 3px;
  border-color: #87590f81;
  width: 20vmax;
  height: 20vmax;
}

.bloc_button {
  display: none;
  justify-content: space-evenly;
  align-items: center;
  background-color: red;
  width: 80%;
  height: 10%;
}
.buton_shot,.button_auto,.button_sound,.button_taunt {
  background-color: green;
  width: 6vmax;
  height: 6vmax;
}
.bot {
  width: 100vmin;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
}
.bot_img{
width: 50%;
height: 50%;
transition: 0.8s;
}
.life_bar_bg,.ammo_bar_bg,.energy_bar_bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 10%;
  transition: 0.3s;
}

.life_bar,.ammo_bar,.energy_bar {
  display: flex; /*none en petit*/
  align-items: center;
  justify-content: flex-start;
  width: 95%;
  height: 50%;
  border: solid 5px;
  border-radius: 20px;
}
.life_bar {
  background-color: #1F5DCC;
}
.ammo_bar {
  background-color: #AD7214;
}
.energy_bar {
  background-color: #9C2601;
}
.ammo_bar_cube1,.ammo_bar_cube2,.ammo_bar_cube3,.ammo_bar_cube4,.ammo_bar_cube5,
.energy_bar_cube1,.energy_bar_cube2,.energy_bar_cube3,.energy_bar_cube4,.energy_bar_cube5,
.life_bar_cube1,.life_bar_cube2,.life_bar_cube3,.life_bar_cube4,.life_bar_cube5
{
  display: none;
  background-color: rgba(255, 255, 255, 0.999);
  width: 20%;
  height: 100%;
  margin: 2%;
  transition: 0.3s;
}
@media screen and (max-height: 400px) {
  body,html {
    background-color:rgba(255, 255, 255, 0);
  }
  .life_bar,.ammo_bar,.energy_bar {
    border: none;
    width: 95%;
    height: 70%;
    transition: 0.3s;
}
  .life_bar_bg,.ammo_bar_bg,.energy_bar_bg {
    background-color: red;
    background: none;
    position: relative;
    bottom: 30%;
    left: 30%;
    justify-content: center;
    align-items: flex-end;
    width: 15%;
    height: 30%;
  }
  .bot_img{
    position: relative;
    top: 25%;
  }
}

@media screen and (min-height: 640px) {
  .bot_img{
    display:none;
  }
  body {
    justify-content: flex-end;
  }
  .bot{
    justify-content: flex-end;
    height: 180px;
  }
  .life_bar_bg,.ammo_bar_bg,.energy_bar_bg {
    height: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .life_bar_cube1,.life_bar_cube2,.life_bar_cube3,.life_bar_cube4,.life_bar_cube5,.ammo_bar_cube1,.ammo_bar_cube2,.ammo_bar_cube3,.ammo_bar_cube4,.ammo_bar_cube5,.energy_bar_cube1,.energy_bar_cube2,.energy_bar_cube3,.energy_bar_cube4,.energy_bar_cube5 {
    display: flex;
    height: 60%;
    margin: 1%;
    transition: 0.3s;
  }
  .life_bar,.ammo_bar,.energy_bar {
    display: flex;
    align-items: center;
    border-color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    height: 100%;
}
.bloc_button {
  display: flex;
}
.button_radial_bloc {
  display: flex;
}
}